body{
    background-color: rgb(69, 117, 82);
}

.noir{
    background-color: black;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
.blanc{
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
#champ {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
h1{
    display: flex;
    justify-content: space-around;
}
#jumpDiv{
    display: flex;
    justify-content: space-around;
    
}
#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;

}
p{
    margin-right: 4px;
    margin-left: 8px;
}
#exterminatus{
    margin-right: 4px;
    margin-left: 20px;
}